{% extends "base.html" %}{% block css %}
<link rel="stylesheet" type="text/css" href="../static/css/elephant.css" />
<style type="text/css">
	#my404 {
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		color: #778492;
		font-size: 150px;
	}
	
	body {
		background-color: #dae3e7;
	}
</style>
{% endblock %}{% block contentLeft %}
<section class="latest section">
	<div class="section-inner">
		<!--<h2 class="heading">简介</h2>-->
		<div class="content">

			<div class="item featured text-center">
				<div class="row ">
					<p id="my404">404</p>
				</div>
				<h3 class="title"><a href="/">页面走丢了,点我返回主页。或者留下看大象~</a></h3>
			</div>
			<!--//item-->
			<div class="ele-container">
				<div class="ele-wrapper">
					<div class="ele-tail"></div>
					<div class="ele-body">
						<div class="ele-head">
							<div class="ele-eyebrows"></div>
							<div class="ele-eyes"></div>
							<div class="ele-mouth"></div>
							<div class="ele-fang-front"></div>
							<div class="ele-fang-back"></div>
							<div class="ele-ear"></div>
						</div>
					</div>
					<div class="ele-leg-1 ele-leg-back">
						<div class="ele-foot"></div>
					</div>
					<div class="ele-leg-2 ele-leg-front">
						<div class="ele-foot"></div>
					</div>
					<div class="ele-leg-3 ele-leg-back">
						<div class="ele-foot"></div>
					</div>
					<div class="ele-leg-4 ele-leg-front">
						<div class="ele-foot"></div>
					</div>
				</div>
			</div>
		</div>
		<!--//content-->
	</div>
	<!--//section-inner-->
</section>
<!--//section-->

<div class="ele-container" style="margin-top: 70%;">
	<div class="ele-wrapper">
		<div class="ele-tail"></div>
		<div class="ele-body">
			<div class="ele-head">
				<div class="ele-eyebrows"></div>
				<div class="ele-eyes"></div>
				<div class="ele-mouth"></div>
				<div class="ele-fang-front"></div>
				<div class="ele-fang-back"></div>
				<div class="ele-ear"></div>
			</div>
		</div>
		<div class="ele-leg-1 ele-leg-back">
			<div class="ele-foot"></div>
		</div>
		<div class="ele-leg-2 ele-leg-front">
			<div class="ele-foot"></div>
		</div>
		<div class="ele-leg-3 ele-leg-back">
			<div class="ele-foot"></div>
		</div>
		<div class="ele-leg-4 ele-leg-front">
			<div class="ele-foot"></div>
		</div>
	</div>
</div>

{% endblock %}{% block script %} {% endblock %}