{% extends "base.html" %}{% block contentLeft %} {% endblock %}{% block script %}
<script type="text/javascript">
	function getId() {
		var url = location.search; //获取url中"?"符后的字串   
		var theRequest = new Object();
		if(url.indexOf("?") != -1) {
			var str = url.substr(1);
			strs = str.split("&");
			for(var i = 0; i < strs.length; i++) {
				theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
			}
		}
		return theRequest;
	}
	var id = getId().id;

	function loaddata() {
		$.ajax({
			url: "http://localhost:5678/oneSelect?id=" + id,
			success: function(data) {
				jsonData = JSON.parse(data)
				for(var a = 0; a < jsonData.length; a++) {
					id = jsonData[a].id
					title = jsonData[a].title
					shortmsg = jsonData[a].shortmsg
					msg = jsonData[a].msg
					var ele = '<section class="latest section"> <div class="section-inner"> <h2 class="heading">正文</h2> <div class="content"> <div class="item featured text-center"> <h2 class="title"><a href="#website-templates/responsive-bootstrap-theme-for-products-velocity/" target="_blank">' + title + '</a></h2> <hr class="divider" /> <!--<p class="summary">用来记录python学习中遇到的问题，并且提供一些小工具</p>--> <div class="featured-image"> <a href="#website-templates/responsive-bootstrap-theme-for-products-velocity/" target="_blank"> <img class="img-responsive project-image" src="../static/images/projects/project-featured.png" alt="project name" /> </a> </div> <div class="desc text-left"> <p>' + shortmsg + '</p> <hr class="divider" /> <p>' + msg + '</p> </div> <!--//desc--> </div> <!--//item--> </div> <!--//content--> </div> <!--//section-inner--></section><!--//section-->'
					$(".primary").append(ele)
				}
			},
			error: function(msg) {
				console.log("error:获取数据失败")
			}
		});
	}
	loaddata()
	//
</script>
{% endblock %}