{% extends "base.html" %}{% block css %}
<style type="text/css">
	.mycontent {
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		color: #778492;
	}
</style>
{% endblock %}{% block contentLeft %}

<section class="latest section">
	<div class="section-inner">
		<!--<h2 class="heading">简介</h2>-->
		<div class="content">

			<div class="item featured text-center">
				<hr class="divider" />
				<!--<h3 class="title"><a href="#website-templates/responsive-bootstrap-theme-for-products-velocity/" target="_blank">这个网站是dangsh的blog</a></h3>-->
				<!--<p class="summary">用来记录python学习中遇到的问题，并且提供一些小工具</p>-->
				<div class="featured-image">
					<a href="#">
						<img class="img-responsive project-image" src="../static/images/projects/project-featured.png" alt="project name" />
					</a>
					<div class="ribbon">
						<div class="text">New</div>
					</div>
				</div>

				<div class="desc text-left">
					<p class="mycontent">blog记录了自己python学习中遇到的问题和解决</p>
					<p class="mycontent">提供了一些小工具，如 去空格 , 字符替换 等</p>
				</div>
				<!--//desc-->
			</div>
			<!--//item-->

		</div>
		<!--//content-->
	</div>
	<!--//section-inner-->
</section>
<!--//section-->

{% endblock %} {% block contentRight %} {% endblock %}{% block script %}
<script src="../static/js/jquery.twbsPagination.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	var pageNum=1
	var thispage = 1
	function getPage(){
		$.ajax({
			url: "http://localhost:5678/msgSelect",
			success: function(data) {
				jsonData = JSON.parse(data)
				pageNum=Math.ceil(parseInt(jsonData.length) / 10)
			},
			error: function(msg) {
				console.log("error:获取页数失败")
			}
		});
	}
	getPage()
	
	function loaddata() {
		$.ajax({
			url: "http://localhost:5678/msgSelect",
			success: function(data) {
				$(".primary").children("section").remove()
//				$(".primary").twbsPagination("destroy") //销毁分页栏
				jsonData = JSON.parse(data)
				pageData = jsonData.slice(0,9)
				for(var a = 0; a < pageData.length; a++) {
					id = pageData[a].id
					title = pageData[a].title
					shortmsg = pageData[a].shortmsg
					msg = pageData[a].msg
					var el = '<section class="latest section ele' + id + '"> <div class="section-inner"> <div class="content"> <div class="item row"> <a class="col-md-4 col-sm-4 col-xs-12" href="/content?id=' + id + '" > <img class="img-responsive project-image" src="../static/images/projects/project-4.png" alt="project name" /> </a> <div class="desc col-md-8 col-sm-8 col-xs-12"> <h3 class="title"><a href="/content?id=' + id + '" >' + title + '</a></h3> <p class="mycontent">' + shortmsg + '</p> <p> <a class="more-link" href="/content?id=' + id + '" ><i class="fa fa-external-link"></i> Find out more</a> </p> </div> <!--//desc--> </div> <!--//item--> </div> <!--//content--> </div> <!--//section-inner--></section>'
					$(".primary").append(el)
				}
				createPageNav('.primary' , pageNum , function(event , page){
			    	thispage = page
			    	loaddata()
				});
			},
			error: function(msg) {
				console.log("error:获取数据失败")
			}
		});
	}
	$(".primary").twbsPagination("destroy") //销毁分页栏
	loaddata()
	console.log(thispage)
	// 创建分页
	function createPageNav(selec, totalPages, cbFn) {
		$(selec).twbsPagination({
			totalPages: totalPages,
			first: "首页",
			last: "尾页",
			prev: '上一页',
			next: '下一页',
			startPage: 1,
			visiblePages: totalPages > 5 ? 5 : totalPages , 
			version: '1.1',
			onPageClick: function(event, page) {
				cbFn(event, page)
			}
		});
	}
	
</script>
{% endblock %}