{% extends "base.html" %} {% block content %}
<div class="row">

	<div class="col-xs-6 col-sm-6 col-xs-offset-3">
		<div class="row">
			<form class="form-signin" style="margin-top: 200px;" method="post" action="http://localhost:5678/loginCheck">
				<h2 class="form-signin-heading">登录</h2>
				<h4 class="form-signin-heading">反正只有自己能看见,随便做做吧</h4>
				<input type="text" name="username" class="form-control" required autofocus style="margin-top: 20px;">
				<input type="text" name="password" class="form-control" required autofocus style="margin-top: 15px;">
				<button class="btn btn-lg btn-primary btn-block" type="submit" id="login" style="margin-top: 15px;">登录</button>
			</form>
		</div>
		<!--/row-->
	</div>
</div>
<!--/row-->

{% endblock %}
{% block script %}
	<script type="text/javascript">
		$("#login").click(function(){
			console.log("aaaaaaa")
		})
	</script>
{% endblock %}