{% extends "base.html" %}{% block contentLeft %}

<section class="latest section">
	<div class="section-inner">
		<!--<h2 class="heading">简介</h2>-->
		<div class="content">

			<div class="item featured text-center">
				<hr class="divider" />
				<!--<h3 class="title"><a href="#website-templates/responsive-bootstrap-theme-for-products-velocity/" target="_blank">这个网站是dangsh的blog</a></h3>-->
				<!--<p class="summary">用来记录python学习中遇到的问题，并且提供一些小工具</p>-->
				<div class="featured-image">
					<a href="#">
						<img class="img-responsive project-image" src="../static/images/projects/project-featured.png" alt="project name" />
					</a>
					<div class="ribbon">
						<div class="text">New</div>
					</div>
				</div>

				<div class="desc text-left">
					<p>blog记录了自己python学习中遇到的问题和解决</p>
					<p>提供了一些小工具，如 去空格 , 字符替换 等</p>
				</div>
				<!--//desc-->
			</div>
			<!--//item-->

		</div>
		<!--//content-->
	</div>
	<!--//section-inner-->
</section>
<!--//section-->

{% endblock %} {% block contentRight %}
<aside class="credits aside section">
	<div class="section-inner">
		<h2 class="heading">管理员工具</h2>
		<div class="content">
			<ul class="list-unstyled">
				<li>
					<a href="/addmsg"><i class="fa fa-lightbulb-o"></i> 添加博客</a>
				</li>
			</ul>
		</div>
		<!--//content-->
	</div>
	<!--//section-inner-->
</aside>
{% endblock %}{% block script %}
<script type="text/javascript">
	function loaddata() {
		$.ajax({
			url: "http://localhost:5678/msgSelect",
			success: function(data) {
				jsonData = JSON.parse(data)
				for(var a = 0; a < jsonData.length; a++) {
					id = jsonData[a].id
					title = jsonData[a].title
					shortmsg = jsonData[a].shortmsg
					msg = jsonData[a].msg
					var el = '<section class="latest section ele' + id + '"> <div class="section-inner"> <div class="content"> <div class="item row"> <a class="col-md-4 col-sm-4 col-xs-12" href="/content?id=' + id + '" > <img class="img-responsive project-image" src="../static/images/projects/project-4.png" alt="project name" /> </a> <div class="desc col-md-8 col-sm-8 col-xs-12"> <h3 class="title"><a href="/content?id=' + id + '" >' + title + '</a></h3> <p>' + shortmsg + '</p> <p> <a class="more-link" href="/content?id=' + id + '" ><i class="fa fa-external-link"></i> 查看详情</a> </p><p> <a class="more-link" href="/msgDel?id=' + id + '" ><i class="fa fa-external-link"></i> 删除</a> </p> </div> <!--//desc--> </div> <!--//item--> </div> <!--//content--> </div> <!--//section-inner--></section>'
					$(".primary").append(el)
				}
			},
			error: function(msg) {
				console.log("error:获取数据失败")
			}
		});
	}
	loaddata()
</script>
{% endblock %}