{% extends "base.html" %}{% block css %}
<style type="text/css">
	.mycontent {
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		color: #778492;
	}
</style>
{% endblock %}{% block contentLeft %}

<section class="latest section">
	<div class="section-inner">
		<div class="content">
			<div class="item row">
				<a class="col-md-2 col-sm-2 col-xs-2" href="/content?id=' + id + '"> <img class="img-responsive project-image" src="../static/images/projects/project-4.png" alt="project name" /> </a>
				<div class="desc col-md-8 col-sm-8 col-xs-12">
					<h3 class="title"><a href="/content" >用户名</a></h3>
					<p class="mycontent">所说的话</p>
				</div>
				<!--//desc-->
			</div>
			<!--//item-->
		</div>
		<!--//content-->
	</div>
	<!--//section-inner-->
</section>
<section class="latest section">
	<div class="section-inner">
		<div class="content">
			<div class="item row">
				<a class="col-md-2 col-sm-2 col-xs-2" href="/content?id=' + id + '"> <img class="img-responsive project-image" src="../static/images/projects/project-4.png" alt="project name" /> </a>
				<div class="desc col-md-8 col-sm-8 col-xs-12">
					<h3 class="title"><a href="/content" >用户名</a></h3>
					<p class="mycontent">所说的话</p>
				</div>
				<!--//desc-->
			</div>
			<!--//item-->
		</div>
		<!--//content-->
	</div>
	<!--//section-inner-->
</section>
<section class="latest section">
	<div class="section-inner">
		<div class="content">
			<div class="item row">
				<a class="col-md-2 col-sm-2 col-xs-2" href="/content?id=' + id + '"> <img class="img-responsive project-image" src="../static/images/projects/project-4.png" alt="project name" /> </a>
				<div class="desc col-md-8 col-sm-8 col-xs-12">
					<h3 class="title"><a href="/content" >用户名</a></h3>
					<p class="mycontent">所说的话</p>
				</div>
				<!--//desc-->
			</div>
			<!--//item-->
		</div>
		<!--//content-->
	</div>
	<!--//section-inner-->
</section>
<section class="latest section">
	<div class="section-inner">
		<div class="content">
			<div class="item row">
				<a class="col-md-2 col-sm-2 col-xs-2" href="/content?id=' + id + '"> <img class="img-responsive project-image" src="../static/images/projects/project-4.png" alt="project name" /> </a>
				<div class="desc col-md-8 col-sm-8 col-xs-12">
					<h3 class="title"><a href="/content" >用户名</a></h3>
					<p class="mycontent">所说的话</p>
				</div>
				<!--//desc-->
			</div>
			<!--//item-->
		</div>
		<!--//content-->
	</div>
	<!--//section-inner-->
</section>
{% endblock %} {% block contentRight %} {% endblock %}{% block script %} {% endblock %}