{% extends "base.html" %} {% block content %}
<div class="row row-offcanvas row-offcanvas-right">

	<div class="col-xs-12">
		<p class="pull-right visible-xs">
			<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
		</p>
		<div class="jumbotron">
			<h1>歌曲!</h1>
			<p>输入人名或者歌曲名.</p>

		</div>
		<div class="row">
			<!--<form>
                <input type="text" name="publication" />
                <input type="submit" value="搜索" />
            </form>-->

			<form class="form-signin">
				<h2 class="form-signin-heading">请输入你喜欢歌手的名字</h2>
				<label for="inputEmail" class="sr-only">请按提示输入</label>
				<input type="text" name="publication" class="form-control" required autofocus>
				<hr />
				<button class="btn btn-lg btn-primary btn-block" type="submit" id="select">搜索</button>
			</form>
			<hr />
			<hr />
			<table>
				<tr>
					<th>序号</th>
					<th>歌名</th>
					<th>作者</th>
					<th>图片</th>
					<th>下载</th>

				</tr>
				{% for item in info %}
				<tr>
					<td>1</td>
					<td>{{item['songinfo']['title']}}</td>
					<td>{{item['songinfo']['author']}}</td>
					<td><img src="{{item['songinfo']['pic_small']}}" alt=""></td>
					<td>
						<a href="{{item['bitrate']['file_link']}}">下载</a>
					</td>
				</tr>
				{% endfor %}
			</table>
			<div class="col-xs-6 col-lg-4">

			</div>
			<!--/.col-xs-6.col-lg-4-->
		</div>
		<!--/row-->
	</div>
	<!--/.col-xs-12.col-sm-9-->

</div>
<!--/row-->
{% endblock %}