{% extends "base.html" %}{% block css %}
<style type="text/css">table {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #778492;
	text-align: center;
	background-color: #D9EDF7;
}</style>
{% endblock %}{% block contentLeft %}
	
<section class="latest section">
	<h4 class="form-signin-heading ">在这里为大家提供免费的IP代理，需要API接口的点<a href="/getProxy?score=10">这里</a></h4>
	<h5>请求方式为GET , 参数score是代理的评分。有两个选择，10 , other</h5>
	<div class="section-inner">
		<!--<h2 class="heading">简介</h2>-->
		<div class="content">
			<table class="table table-bordered">
				<tr>
				  <td>ip</td>
				  <td>port</td>
				  <td>地区</td>
				  <td>速度</td>
				  <td>评分</td>
				</tr>
			</table>
			
		</div>
		<!--//content-->
	</div>
	<!--//section-inner-->
</section>
<!--//section-->
{% endblock %}{% block script %}
<script type="text/javascript">
	function loadProxy() {
		$.ajax({
			url: "http://localhost:5678/getProxy",
			type: 'POST',
			success: function(data) {
				jsonData = JSON.parse(data)
				console.log(jsonData)
				for(var a = 0; a < jsonData.length; a++) {
					ip = jsonData[a].ip
					port = jsonData[a].port
					area = jsonData[a].area
					speed = jsonData[a].speed
					score = jsonData[a].score
					var el = '<tr> <td>' + ip + '</td> <td>' + port + '</td> <td>' + area + '</td> <td>'+ speed +'</td> <td>' + score +'</td> </tr>'
					$(".table").append(el)
				}
			},
			error: function(msg) {
				console.log("error:获取数据失败")
			}
		});
	}
	loadProxy()
</script>
{% endblock %}